* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #000;
}

main {
    margin: 50px auto;
    width: 80%;
}

/* ARTICOLO */

.articolo {
    width: 350px;
    cursor: pointer;
    float: left;
    margin: 10px;
}

.articolo > .foto {
    position: relative;
    height: 500px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
}

.foto > .like {
    position: absolute;
    top: 15px;
    right: 0;
    padding: 5px 10px;
    background-color: #FFF;
    font-size: 24px;
}

.foto > .like:hover {
    background-color: #F00;
    color: #FFF;
}

.foto > .info {
    position: absolute;
    bottom: 15px;
    left: 0;
}

.info > .discount, .info > .sosten {
    padding: 5px;
    color: #FFF;
    font-weight: bold;
}

.info > .discount {
    background-color: #f00;
}

.info > .sosten {
    background-color: #00875A;
}

.articolo > .brand {
    font-size: 14px;
    color: #333;
}

.articolo > .label {
    font-size: 14px;
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
}

.articolo > .price {
    font-size: 14px;
    color: #f00;
    font-weight: bold;
}

.articolo > .price > .old {
    text-decoration: line-through;
    color: #000;
    font-weight: normal;
}

/* Foto articoli */

.articolo:nth-child(1) > .foto {
    background-image: url(../img/1.webp);
}

.articolo:nth-child(1):hover > .foto {
    background-image: url(../img/1b.webp);
}

.articolo:nth-child(2) > .foto {
    background-image: url(../img/2.webp);
}

.articolo:nth-child(2):hover > .foto {
    background-image: url(../img/2b.webp);
}

.articolo:nth-child(3) > .foto {
    background-image: url(../img/3.webp);
}

.articolo:nth-child(3):hover > .foto {
    background-image: url(../img/3b.webp);
}

.articolo:nth-child(4) > .foto {
    background-image: url(../img/4.webp);
}

.articolo:nth-child(4):hover > .foto {
    background-image: url(../img/4b.webp);
}

.articolo:nth-child(5) > .foto {
    background-image: url(../img/5.webp);
}

.articolo:nth-child(5):hover > .foto {
    background-image: url(../img/5b.webp);
}

.articolo:nth-child(6) > .foto {
    background-image: url(../img/6.webp);
}

.articolo:nth-child(6):hover > .foto {
    background-image: url(../img/6b.webp);
}